body{
    text-align: center;
}

body, html {
    
    margin: 0;
    font-family: 'Montserrat';
}

.App{
    margin: 50px;
    background: #FF6A6A;
    padding: 50px;
}

.Header h1{
    font-size: 50px;
    font-family: Roboto;
}

.Header h3{
    font-size: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.Compliment-Background{
    background-color: #fff;
    margin: 30px;
    margin-right: 70px;
    margin-left: 70px;
    padding: 5px;
}

.Compliment{
    font-size: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.Button{
    background: #0094FF;
    border-radius: 41.8103px;
    padding: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.Button:hover{
    background: rgb(3, 128, 218);
}

.source{
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.twitter{
    float: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

@media only screen and (max-width: 1040px) {
    .Compliment-Background{
        background-color: #fff;
        margin: 30px;
        margin-right: 50px;
        margin-left: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .App{
        padding: 20px;
        margin: 20px;
    }
}
